Django
djangorestframework
psycopg2
python-dotenv
django-cors-headers
djangorestframework-simplejwt
nanoid
drf-spectacular
drf-yasg
django-filter
Pillow
requests
vnstock
gunicorn
apscheduler
pandas
bcrypt
boto3
langchain==0.3.27
langchain-openai==0.3.35
langchain-community
langchain-postgres
langchain-anthropic
python-docx
pgvector
openai
anthropic
requests
gspread
google-auth